/* You can add global styles to this file, and also import other style files */
.dark-body {
  background-color: #121212;
  color: #f5f5f5;
  transition: background-color 0.3s ease, color 0.3s ease;
}
